@import '../../styles.scss';

.kart-info {
    margin: 5px 0;
}

.horizontal-flex {
    display: flex;
    flex-wrap: wrap;

    /*@media (max-width: $mobileWidth) {
        flex-direction: row-reverse;
        justify-content: space-between;
    }*/
}

.laps-row {
    min-width: 150px;
}

.laps-summary {
    min-width: 180px;
}
