@import '../../styles.scss';

.kart-info {
    margin: 5px 0;
}

.horizontal-flex {
    display: flex;
    flex-wrap: wrap;
}

.laps-row {
    min-width: 145px;
}

.laps-summary {
    min-width: 175px;
}
