.timing {
    color: black;
    font-size: 4vw;
    font-weight: bold;
    width: 100%;
}

.timing-value {
    padding: 0 200px;
}

.positive {
    color: rgb(250, 27, 150);
}

.bad {
    color: red;
}

.good {
    color: green;
}

.odd {
    background-color: #bbb;
}
