$background-color: #fefefe;
$fastestLaptimeColor: #80c;
$averageLaptimeColor: rgb(11, 105, 11);
$slowestLaptimeColor: rgb(164, 6, 6);
$mobileWidth: 700px;

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;

  background-color: $background-color;
  color: #444;
  font-family: monospace;
  font-size: 1.1rem;
}

.kman-hidden {
  display: none;
}

.kman-block {
  padding: 10px;
}

.flatpickr-input {
  height: 40px;
  width: 150px;
  font-size: 1.1rem;
}
