@import './shared.scss';
$bgOpacity: 0.95;

html,
body {
  height: 100%;
  background: linear-gradient(rgba(255, 255, 255, $bgOpacity), rgba(255, 255, 255, $bgOpacity)), url('/bg.webp');
}

body {
  margin: 0;
  padding: 0;

  background-color: $background-color;
  color: #444;
  font-family: monospace;
  font-size: 1.1rem;
}

.kman-hidden {
  display: none;
}

.kman-block {
  padding: 10px;
}

.flatpickr-input {
  margin: 5px;
  height: 32px;
  width: 150px;
  font-size: 1.1rem;
}
